.ui-content{
    /*width: 1000px;*/
    padding-bottom: 60px;
}

.ui-module-container{

}

.ui-module{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}



.ui-module-scroll-items-background{
    background: #ffffff;
}

.ui-module-attention-items{

}

.ui-module-attention-background{
    background: #ffffff;
}