.ui-item-block{
    transition: box-shadow 150ms;
    height: 270px;
    min-width: 227px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 2px 2px 7px rgba(55,55,55,0.1);
    cursor: pointer;
}

.ui-item-block:hover{
    box-shadow: 2px 2px 7px rgba(55,55,55,0.4);
}

.ui-item-block-big{
    min-width: 478px;
}

.ui-centerer{
    margin: 0 auto;
    position: relative;
    width: 200px;
}

.ui-big-button{
    transition: background 100ms, box-shadow 100ms;
    font-family: CFB;
    padding: 14px 29px 9px 59px;
    border-radius: 23px;
    background: #e8f9fa;
    border: 1px solid #fff;
    box-shadow: 0;
    display: inline-block;
}

.ui-big-button:hover {
    background: #b6faee;
    box-shadow: 3px 3px 6px #00000021;
    color: #444;
    cursor: pointer;
}

.ui-big-button-icon{
    background-image: url(../images/icons/reload.svg);
    background-repeat: no-repeat;
    background-position: 17%;
    background-size: 9%;
}

.ui-big-button-icon:hover{
    background-image: url(../images/icons/reload.svg);
    background-repeat: no-repeat;
    background-position: 17%;
    background-size: 10%;
}